<!DOCTYPE html>
<html>
  <head>
    <title>New Skill</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Enter a New Dev Skill</h1>
    <form action="/skills" method="POST">
      <input type="text" name="skill">
      <button type="submit">Submit Skill</button>
      <a href="/skills">Cancel</a>
    </form>
  </body>
</html>
